Source: pytest-trio
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 9),
  python3-pytest
Standards-Version: 3.9.6
Homepage: https://github.com/python-trio/pytest-trio

Package: python3-pytest-trio
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
  python3-pytest
Description: Pytest plugin for trio
 pytest-trio
 ===========
 .
 .. image:: https://travis-ci.org/python-trio/pytest-trio.svg?branch=master
     :target: https://travis-ci.org/python-trio/pytest-trio
 .
 .. image:: https://ci.appveyor.com/api/projects/status/aq0pklx7hanx031x?svg=true
     :target: https://ci.appveyor.com/project/touilleMan/pytest-trio
 .
 .. image:: https://codecov.io/gh/python-trio/pytest-trio/branch/master/graph/badge.svg
   :target: https://codecov.io/gh/python-trio/pytest-trio
 .
 Welcome to `pytest-trio <https://github.com/python-trio/pytest-trio>`__!
 .
 Pytest plugin for trio
 .
 License: Your choice of MIT or Apache License 2.0
 .

